extends layout

block content
  script(type='text/javascript', src="http://45.55.1.63:8080/socket.io/socket.io.js")
  script(type='text/jsx', src="javascripts/component.js")
  h1 Authenticated
  div#content