extends layout

block content
  script(type='text/javascript', src="http://justlanded.herokuapp.com:3000/socket.io/socket.io.js")
  script(type='text/jsx', src="javascripts/component.js")
  h1 Authenticated
  div#content