doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="vendor/react.js")
    script(type='text/javascript', src="vendor/JSXTransformer.js")
  body
    block content